.input {
    background: #fff;
    height: 62.5px;
    width: 100%;
    align-items: center;
    color: #4B4A4A;
    font-size: 17px;
    padding: 16px;
    box-sizing: border-box;
    border: none;
}

.input:focus {
    outline: none;
    border: none;
	box-shadow: inset 0px 0px 5px rgb(255, 170, 0);
}

.input-empty {
    height: 63.5px;
}